xml-ir/src/main/resources/xml-ir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="unit" type="unitType"/>
    <xs:complexType name="commentsType">
        <xs:sequence>
            <xs:element type="commentType" name="comment"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element type="paramType" name="param" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="interfaceType">
        <xs:sequence>
            <xs:element type="parametersType" name="parameters"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="unitType">
        <xs:sequence>
            <xs:element type="xs:string" name="package"/>
            <xs:element type="commentsType" name="comments"/>
            <xs:element type="importsType" name="imports"/>
            <xs:element type="typesType" name="types"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="classType">
        <xs:sequence>
            <xs:element type="extendsType" name="extends" minOccurs="0"/>
            <xs:element type="implementsType" name="implements"/>
            <xs:element type="parametersType" name="parameters" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="typesType">
        <xs:sequence>
            <xs:element type="classType" name="class" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="interfaceType" name="interface"/>
            <xs:element type="enumType" name="enum"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="importType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="all" use="optional"/>
                <xs:attribute type="xs:string" name="static" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="importsType">
        <xs:sequence>
            <xs:element type="importType" name="import" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumType">
        <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ONE"/>
                        <xs:enumeration value="TWO"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="extendsType">
        <xs:sequence>
            <xs:element type="xs:string" name="extend"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="implementsType">
        <xs:sequence>
            <xs:element name="implement">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SideEffectPipe"/>
                        <xs:enumeration value="Callback"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="commentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="paramType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>